@charset "utf-8";

body{
    text-align: center; 
}

.header{
    display:flex;
    height:80px;
    padding: 5px;
    font-weight: bold;
    color: black;
    align-items: center;
}

h1{
    font-size: 45px;
    text-align: left;
    margin-left: 80px;
}

input.text{
    border-radius: 10px;
    color: black;
    padding: 10px;
    width:450px;
    border:1px solid black;
}

input.radio{
    transform:scale(1.2);
}

.button{
    background-color : #d9d7d7;
    color: black;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-top: 30px;
}

.button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.6;
}

.form_content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table_login{
    margin-top: 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px 10px;    
    font-size: 25px;
}

.table_regi{
    margin-top: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px 10px;    
    font-size: 25px;
}

td.label{
    text-align: right;
}

p.regi_guide{
    font-size: 20px;
    margin-top: 20px;
}

.regi_page_button{
    background-color : #d9d7d7;
    color: black;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-top: 30px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.regi_page_button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.6;
}

.radio_cont{
    display: flex;
    justify-content: space-evenly;
}

p.error{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

p.succes{
    font-size: 30px;
    font-weight: bold;
}