<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>登録画面</title>
    </head>
    <body>
        <header>
            <h1>新規登録</h1>
        </header>
        
        <form action="regi.php" method="POST">
            <table>
                <tr>
                    <td>ユーザーID：</td><td><input type="text" name ="user_id" maxlength = 25 pattern="^[a-zA-Z0-9]+$" required></td>
                </tr>
                <tr>
                    <td>ユーザーネーム：</td><td><input type="text" name ="user_name" maxlength = 30 required></td>
                </tr>
                <tr>
                    <td>パスワード：</td><td><input type="text" name ="password1" maxlength = 20 required></td>
                </tr>
                <tr>
                    <td>パスワード（２回目）：</td><td><input type="text" name ="password2" maxlength = 20 required></td>
                </tr>
                <tr>
                    <td>年齢：</td><td><input type="text" name ="age" maxlength = 4 required></td>
                </tr>
                <tr>
                    <td>性別：</td><td><input type="radio" name ="sex" value = "man" required>男<input type="radio" name="sex" value="woman">女</td>
                </tr>
                <tr>
                    <td>お気に入りのジャンル：</td><td><input type="text" name ="favorite" required></td>
                </tr>
                <tr><td colspan="2"><input type="submit" value="登録"></td></tr>
            </table>
        </form>
    </body>
</html>